<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="assets/main.css">
    <script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
</head>
<body>


    <div class="bot" data-bot-name="{{ name }}">
        <h2>{{ title }}</h2>

        <div class="bot__messages">
            <div class="bot__messages__empty"></div>

            <div class="bot__messages_list">
                {% for message in messages %}
                    {% if message.user == 'bot' %}
                        <div class="message-item message-item--received">
                            <div class="message">
                                <span class="message__label">{{ name }}</span>
                                <span class="message__text">{{ message.message }}</span>
                            </div>
                        </div>
                    {% else %}
                        <div class="message-item message-item--sent">
                            <div class="message">
                                <span class="message__text">{{ message.message }}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}



            </div>
        </div>

        <form class="bot__form" method="POST">
            <input class="bot__form__input" type="text" name="message">
            <button class="bot__form__button" type="submit">Send</button>
        </form>

        <div class="inbenta-powered">
            <a href="http://www.inbenta.com" target="_blank" class="inbenta-powered__link"></a>
        </div>
    </div>

</body>
</html>
